// Put any @imports here
// See Readme for a list of supported ones
@import 'foundation';
@import 'bourbon';
@import 'neat';

body {
  background: #e2ebf3;
}

.wrapper {
  
}

.container {
  width: 600px;
  margin: 15px auto;
}

.imgContainer {
  @include span-columns(2 of 8);
  min-width: 100px;
  min-height: 125px;
  max-width: 100px;
  max-height: 120px;
  border: 1px solid;
  background-color: tan;
  border-radius: 5px;
  position: relative;
  img {
    height: 98px;
  }
  h5 {
    font-size: 10px;
    text-align: center;
  }
}

.show {
  visibility: visible;
  position: absolute;
  margin-top: 1px;
  margin-top: -98px;
  margin-left: 6px;
}

.hidden {
  position: absolute;
  margin-top: 1px;
  margin-top: -98px;
  margin-left: 6px;
  visibility: hidden;

}